*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main
{
    margin: 30px;
    border: 5px solid rgb(1, 0, 5);
    display: grid;
    padding: 15px;
    overflow: auto;
    
   
         

}

.r
{
        display: inline-flex; 
        color:black;
        font-size: 14px; 
        background-color: black;
        text-align: center; 
        font-weight: bold;
       
        
           
        
}

.r div{
    
    padding: 9px 35px;  
    border: 4px solid black;
    width: 70px;
    transition: width 1s, height 1s, transform 1s;
    
   
}
.r div:hover{

    text-shadow: 0 0 3px #FF0000;
    border-radius: 25px;
    background-color: hotpink;
    transform: rotate(360deg);
    animation: myfirst 5s linear infinite;
}

@keyframes myfirst {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
  }

 

/* -------------------Row 1 ---------------------------*/


.r1
{
    
   justify-content: space-between; 
}

.r1 div{
    background-color: #FE989A;
}


/* -------------------Row 2 ---------------------------*/

.r2c1 ,.r2c2{
    background-color: #FE989A;
    
}


.r2c3 ,.r2c4,.r2c5,.r2c6,.r2c7,.r2c8,.r2c9,.r2c10{
    background-color: #FCFF8C;  
  
        
}



/* -------------------Row 3 ---------------------------*/
.r3c1 ,.r3c2{
    background-color: #FE989A;

}

.r3c3 ,.r3c4,.r3c5,.r3c6,.r3c7,.r3c8,.r3c9,.r3c10{
    background-color: #FCFF8C;
     
}

/* -------------------Row 4 ---------------------------*/

.r4c1,.r4c2
{
    background-color: #FE989A;
    
}


.r4c3,.r4c4,.r4c5,.r4c6,.r4c7,.r4c8,.r4c9,.r4c10,.r4c11,.r4c12
{
    background-color: #96CDFF;
    
}

.r4c13,.r4c14,.r4c15,.r4c16,.r4c17,.r4c18
{
    background-color: #FCFF8C;
    
 
}






/* -------------------Row 5 ---------------------------*/


.r5c1,.r5c2
{
    background-color: #FE989A;
   
}

.r5c3,.r5c4,.r5c5,.r5c6,.r5c7,.r5c8,.r5c9,.r5c10,.r5c11,.r5c12
{
    background-color: #96CDFF;     
}

.r5c13,.r5c14,.r5c15,.r5c16,.r5c17,.r5c18
{
    background-color: #FCFF8C;
     
}



/* -------------------Row 6 ---------------------------*/



.r6c1,.r6c2
{
    background-color: #FE989A;
    
}

.r6c3,.r6c4,.r6c5,.r6c6,.r6c7,.r6c8,.r6c9,.r6c10,.r6c11,.r6c12
{
    background-color: #96CDFF;
   
     
}

.r6c13,.r6c14,.r6c15,.r6c16,.r6c17,.r6c18
{
    background-color: #FCFF8C; 
     
}




/* -------------------Row 7 ---------------------------*/

.r7c1,.r7c2 
{
    background-color: #FE989A;
   
   
    
     
}


.r7c3,.r7c4,.r7c5,.r7c6,.r7c7,.r7c8,.r7c9,.r7c10,.r7c11,.r7c12
{
    background-color: #96CDFF;
       
}

.r7c13,.r7c14,.r7c15,.r7c16,.r7c17,.r7c18
{
    background-color: #FCFF8C;     
     
}


/* -------------------Row 8 ---------------------------*/


.r8c1,.r8c2,.r8c3,.r8c4,.r8c5,.r8c6,.r8c7,.r8c8,.r8c9,.r8c10,.r8c11,.r8c12,.r8c13,.r8c14
{
    background-color: #9AFF97;
 
     
}


/* -------------------Row 9 ---------------------------*/

.r9c1,.r9c2,.r9c3,.r9c4,.r9c5,.r9c6,.r9c7,.r9c8,.r9c9,.r9c10,.r9c11,.r9c12,.r9c13,.r9c14
{
    background-color: #9AFF97;     
     
}








@media screen and (max-width: 1000px) {
    .main {
      background-color: rgba(12, 246, 12, 0);
    }
}
@media screen and (max-width: 900px) {
    .main {
      background-color: rgba(12, 238, 12, 0.133);
    }
}
@media screen and (max-width: 800px) {
   .main {
      background-color: rgba(12, 238, 12, 0.263);
    }
}
@media screen and (max-width: 700px) {
    .main {
      background-color: rgba(12, 238, 12, 0.426);
    }
}
@media screen and (max-width: 600px) {
    .main {
      background-color: rgba(12, 238, 12, 0.585);
    }
}
@media screen and (max-width: 500px) {
    .main {
      background-color: rgba(12, 238, 12, 0.744);
    }
}
@media screen and (max-width: 400px) {
    .main {
      background-color: rgba(12, 238, 12, 0.781);
    }
}
@media screen and (max-width: 300px) {
    .main {
      background-color: rgb(12, 238, 12);
    }
}








@media screen and (max-width: 1000px) {
    body {
      background-color: rgba(12, 207, 246, 0.037);
    }
}
@media screen and (max-width: 900px) {
    body {
      background-color: rgba(12, 223, 238, 0.205);
    }
}
@media screen and (max-width: 800px) {
   body {
      background-color: rgba(12, 223, 238, 0.435);
    }
}
@media screen and (max-width: 700px) {
    body {
      background-color: rgba(12, 223, 238, 0.553);
    }
}
@media screen and (max-width: 600px) {
    body {
      background-color: rgba(12, 230, 238, 0.724);
    }
}
@media screen and (max-width: 500px) {
    body {
      background-color: rgba(12, 238, 238, 0.802);
    }
}
@media screen and (max-width: 400px) {
    body {
      background-color: rgba(12, 238, 238, 0.888);
    }
}
@media screen and (max-width: 300px) {
    body {
      background-color: rgb(12, 230, 238);
    }
}
